		<div id="maincontenair">
			<div id="card">
				<div id="mainlogo">
					<img src="Views/css/motte.jpg" class="logo"/>
					<a href="?action=accueil">
					<p class="maintitle">Didier Motte</p>
					</a>
				</div>				
				<p class="title">Antiquités • Décoration • Aménagements d'intérieur</p>
				<p class="title"><a href="tel:+32495205934" title="Cliquez pour lancer un appel téléphonique: +32 495/20.59.34">+32 495/20.59.34</a></p>
				<nav class="subproduct" role="navigation">
					<ul>
						<li>
							<a href="?action=presentation">Présentation</a>
						</li>
						<li>
							<a href="?action=stock">Le stock</a>
						</li>
						<li>
							<a href="?action=contacts">Contact</a>
						</li>
					</ul>
			   	</nav>
			 </div>		
			<blockquote>
				<span>"L'ennui naquit un jour de l'uniformité"</span>
				<cite>– Antoine Houdar de la Motte</cite>
			</blockquote>
		</div>


			   