
body{
color:#000;
font-family: "Trebuchet",Arial,sans-serif;

}

a{
text-decoration: none;
color:#000;
}


.maincontenair{
max-width:1500px;
min-height:1300px;
background: url(NY_docks_o.jpg)no-repeat;
display: -webkit-flex; /* Safari */
-webkit-align-items: flex-start; /* Safari 7.0+ */
display: flex;
align-items: flex-start
}



#card {
text-align: center;
background-color:#fff;
margin: 0 auto;
padding: 1em;
width:40%;
height:425px;
border-radius: 5px;
-webkit-align-self: center; /* Safari 7.0+ */
align-self: center;
}



/*INSIDE CARD*/

#mainlogo {
width: 100%;
margin-bottom: 10%;
}


.logo{
width:150px;
height:150px;
float: left;
}

/* .logo img{
width:50%;
height:50%;
} */

.maintitle {
font: bold 3em "Trebuchet",Arial,sans-serif;
text-transform: uppercase;
/* float:left;
 */margin:0;
padding-left:3em;
padding-bottom: 2em;
display: block;

}


#maininfo{
margin-top: 10%;
clear: left;
}



ul.secondinfo {
list-style-type:circle;
}

ul.secondinfo li {
	display: inline-block;

}

#product{
 padding-top:2em;
 text-align: center;
}

.subproduct {
display: flex;
flex-direction:row;
list-style-type: none;
 justify-content: center;

}

.subproduct li{
/* 	display: inline-block;
	 */	padding-left:0.5em;
}

.subproduct li a {
display: block;
border-radius:5px;
line-height: 1.5em;
background-color: grey;
text-transform: uppercase;
text-align: center;
color: #fff;
padding-left:1em;
padding-right: 1em;
}


.subproduct li a:hover {
border: 1px inset #222;
background-color:#fff;
color:#000;
}






.contact {
float: right;
width: auto;
}
